@forward 'reset';

$mapeo-blue: #0EB0C3;
$mapeo-blue-hover: #0b9db1;
$mapeo-dark: #222128;
$mapeo-dark-hover: #49494e;
$mapeo-olive: #ADC4BA;
$mapeo-olive-hover: #83a197;
$mapeo-green: #2eefb3;
$mapeo-green-dark: #27e1a8;

.bg-mapeo- {
  &primary {
    background: $mapeo-blue !important;
  }

  &dark {
    background: $mapeo-dark !important;
  }
}

.color-mapeo- {
  &primary {
    color: $mapeo-blue !important;
  }

  &olive {
    color: $mapeo-olive !important;

    &:hover {
      color: $mapeo-olive-hover !important;
    }
  }
}

a {
  color: $mapeo-blue !important;
  text-decoration: none !important;

  &:hover {
    color: $mapeo-green !important;
  }
}

.button-mapeo- {
  &blue {
    background: $mapeo-blue !important;
    border-color: $mapeo-blue !important;

    &:hover {
      background: $mapeo-blue-hover !important;
      border-color: $mapeo-blue-hover !important;
      color: white !important;
    }

    &-outline {
      background: none !important;
      border-color: $mapeo-blue !important;
      color: $mapeo-blue !important;

      &:hover {
        background: $mapeo-blue !important;
        color: white !important;
      }
    }
  }

  &dark {
    background: $mapeo-dark !important;
    border-color: $mapeo-dark !important;

    &:hover {
      background: $mapeo-dark-hover !important;
      border-color: $mapeo-dark-hover !important;
      color: white !important;
    }

    &-outline {
      background: none !important;
      border-color: $mapeo-dark !important;
      color: $mapeo-dark !important;

      &:hover {
        background: $mapeo-dark!important;
        color: white !important;
      }
    }
  }

  &olive {
    background: $mapeo-olive !important;
    border-color: $mapeo-olive !important;

    &:hover {
      background: $mapeo-olive-hover !important;
      border-color: $mapeo-olive-hover !important;
      color: white !important;
    }

    &-outline {
      background: none !important;
      border-color: $mapeo-olive !important;
      color: $mapeo-olive !important;

      &:hover {
        background: $mapeo-olive !important;
        color: white !important;
      }
    }
  }

  &green {
    background: $mapeo-green !important;
    border-color: $mapeo-green !important;
    color: #111 !important;

    &:hover {
      background: $mapeo-green-dark !important;
      border-color: $mapeo-green-dark !important;
    }

    &-outline {
      background: none !important;
      border-color: $mapeo-green !important;
      color: $mapeo-green !important;
      &:hover {
        background: $mapeo-green !important;
        border-color: $mapeo-green !important;
        color: white !important;
      }
    }
  }
}



