@forward 'reset';

$mapeo-blue: #0EB0C3;
$mapeo-dark: #222128;
$mapeo-olive: #ADC4BA;
$mapeo-olive-hover: #83a197;
$mapeo-green: #3AFBBE;

.bg-mapeo- {
  &primary {
    background: $mapeo-blue !important;
  }

  &dark {
    background: $mapeo-dark !important;
  }
}

.color-mapeo- {
  &primary {
    color: $mapeo-blue !important;
  }

  &olive {
    color: $mapeo-olive !important;

    &:hover {
      color: $mapeo-olive-hover !important;
    }
  }
}

a {
  color: $mapeo-blue !important;
  text-decoration: none !important;

  &:hover {
    color: $mapeo-green !important;
  }
}



